---
layout: default
title: "Media"
permalink: /media/
nav_id: media
---

<div class="page-wrapper">

  <h1 class="page-title">{{ page.title }}</h1>

  <div class="entry-list">
    {% for item in site.data.media %}
      {% capture meta %}{{ item.type }}<br>{{ item.month }} {{ item.year }}{% endcapture %}
      {% include entry.html title=item.title all=site.data.media poster_color=item.poster_color hide_glyph=item.hide_glyph href=item.url external=true desc=item.description meta=meta poster_label=item.type %}
    {% endfor %}
  </div>

</div>
