---
layout: default
title: "Open Source"
permalink: /open-source/
nav_id: open_source
---

<div class="page-wrapper">

  <h1 class="page-title">{{ page.title }}</h1>

  <div class="entry-list">
    {% for project in site.data.open_source %}
      {% assign href = project.github %}{% assign ext = true %}
      {% if project.project_url != "" and project.project_url %}
        {% assign href = project.project_url %}{% assign ext = false %}
      {% endif %}
      {% include entry.html title=project.name key="name" all=site.data.open_source poster_color=project.poster_color hide_glyph=project.hide_glyph href=href external=ext desc=project.description link_url=project.github link_label="GitHub" poster_label=project.type %}
    {% endfor %}
  </div>

</div>
