body {
	margin:0;
	padding:0;
	background: #333
}

.navigation {
    text-align:center;
    width: 100%;
    height: 150px;
    background-color: black; 
}
.logo {
    display: inline-block;
    vertical-align: bottom;
    width: 400px;
    height: 125px;
    margin-right: 0px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

.navigation > a {
    display: inline-block;
    vertical-align: top;
    margin- left: 824px;
    margin-right: 308px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

a {

	text-decoration: none;
	outline: 0;
	color: 	#FFCC00;
}

a:hover {
	text-decoration: bolder;
	color: 	#FFCC00;
	text-shadow: 0 0 5px #8b0000;
}

ul {
  text-align:center;
	position: left;
  top: 0;
  width: 100%;
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	font-size: 30px;
}

li {
    display: inline;
    float: left
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* link becomes grey when the user hovers */
li a:hover {
    background-color: #333;
}


/* lets users know what page they are on */
.active {
    background-color: #333;
}
