body {
	margin:0;
	padding:0;
	background-image: url('background.jpg');
	background-repeat:  repeat 0 0
}


.title {
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: rgba(153, 101, 21);
	margin: auto; 
	height: 290px;
	text-align: center;
}

.container {
	margin: 0 auto;
	text-align: center;
}

a {
	text-decoration: none;
	outline: 0;
	color: #996515;
}

a:hover {
	text-decoration: bolder;
	color: #8b0000;
	text-shadow: 0 0 5px #8b0000;
}

hr {
	border: solid;
	width: 80%;
	height: 5px;
	border-color: rgba(153, 101, 21);
	color: rgba(153, 101, 21);
}

ul > *{
	font-family: 'Lato', Arial, sans-serif;
	font-size: 25px;
	margin-left: 30px;	
	list-style-type: none;
	display: inline-block;
}

.emails {
	color: rgba(153, 101, 21);
	font-size: 30px;
	margin: auto;
	text-align: center;
	font-family: 'Lato', Arial, sans-serif;
}
