---
layout: default
title: "Teaching"
permalink: /teaching/
nav_id: teaching
---

<div class="page-wrapper">

  <h1 class="page-title">{{ page.title }}</h1>

  <div class="entry-list">
    {% for course in site.data.teaching %}
      {% assign href = "" %}{% assign ext = false %}
      {% if course.url != "" and course.url %}
        {% if course.url contains "://" %}{% assign href = course.url %}{% assign ext = true %}
        {% else %}{% assign href = course.url | relative_url %}{% endif %}
      {% endif %}
      {% capture term %}{{ course.season }} {{ course.year }}{% endcapture %}
      {% capture meta %}{{ course.number }}<br>{{ term }}{% endcapture %}
      {% include entry.html title=course.title all=site.data.teaching poster_color=course.poster_color hide_glyph=course.hide_glyph href=href external=ext desc=course.description meta=meta poster_label=term %}
    {% endfor %}
  </div>

</div>
